<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Discuss!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
   <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Discussion</a>
      <ul class="right hide-on-med-and-down">
        <%= if @conn.assigns[:user] do %>
          <li><%=  link "Logout", to: auth_path(@conn, :signout) %></li>
        <%= else %>
          <li><%= link "Sign in with github", to: auth_path(@conn, :request, "github")%></li>
        <%= end %>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container">
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <div class="section">
      <div class="row">
        <%= render @view_module, @view_template, assigns %>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  <body>
  </body>
</html>
